# Test stuff
/spec/reports/
/coverage/
/doc/
/.yardoc
/_yardoc/
.rspec_status

# Dependencies
/.bundle/
gemfiles/*.lock

# Logs
/log

# Databases
*.sqlite3

# Temp files
/pkg/
/tmp/
/spec/dummy/tmp

# OS and editor artefacts
.DS_Store
tags
tags.*
*.swap
